<template>
  <el-table
      :data="list"
      height="450"
      @row-click="moveDetail"
      style="width: 100%">
    <el-table-column
        prop="id"
        label="id"
        width="80">
    </el-table-column>
    <el-table-column
        prop="productCode"
        label="상품코드"
        width="80">
    </el-table-column>
    <el-table-column
        prop="productMainImage"
        label="상품이미지"
        width="100">
      <template slot-scope="scope">
        <el-image style="width: 100%; height: auto" :src="scope.row.productMainImage"/>
      </template>
    </el-table-column>
    <el-table-column
        prop="productName"
        label="상품명"
        width="220">
    </el-table-column>
    <el-table-column
        prop="productInfo"
        label="상품정보"
        width="200">
    </el-table-column>
    <el-table-column
        prop="productColor"
        label="색상"
        width="100">
      <template slot-scope="scope">
        <div class="productColor" :style="{backgroundColor:scope.row.productColor}"></div>
      </template>
    </el-table-column>
    <el-table-column
        prop="goodsSize"
        label="사이즈"
        width="100">
    </el-table-column>
    <el-table-column
        prop="ynMembership"
        label="멤버쉽"
        width="100">
      <template slot-scope="scope">{{ scope.row.ynMembership ? 'Yes' : 'No' }}</template>
    </el-table-column>
    <el-table-column
        prop="ynOffline"
        label="오프라인"
        width="100">
      <template slot-scope="scope">{{ scope.row.ynOffline ? 'Yes' : 'No' }}</template>
    </el-table-column>
    <el-table-column
        prop="ynFree"
        label="무료체험"
        width="100">
      <template slot-scope="scope">{{ scope.row.ynFree ? 'Yes' : 'No' }}</template>
    </el-table-column>
    <el-table-column
        prop="ynOneDay"
        label="하루대여"
        width="100">
      <template slot-scope="scope">{{ scope.row.ynOneDay ? 'Yes' : 'No' }}</template>
    </el-table-column>
    <el-table-column
        prop="ynPost"
        label="게시 유무"
        width="100">
      <template slot-scope="scope">{{ scope.row.ynPost ? 'Yes' : 'No' }}</template>
    </el-table-column>

    <el-table-column
        prop="productCreateDate"
        label="등록일"
        width="180">
    </el-table-column>
  </el-table>


  <!--
     우선은 v- for 문 쓰지 말자.
     코드를 직관적으로 내가 이해할떄까지 . 급한거 아님

  <div>
          <div
              v-for="(item, index) in list"
              v-bind:key="index"
          >
            <div>아이디 : {{ item.id }}</div>
            <div>등록일 : {{ item.productCreateDate }}</div>
            <div>상품명 : {{ item.productName }}</div>
          </div>
      </div>-->
</template>
<style>
.productColor {
  width: 30px;
  height: 30px;
}
</style>
<script>
export default {
  //@TODO 로그인 구현 완료 후 주석 해제
  //middleware: 'auth',


  data() {
    return {
      list: []
    }
  },

  methods: {
    getList() {
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
      //상태를 바꿔주세여 스토어에
      this.$store.dispatch(this.$goodsConstants.DO_GOODS_LIST)
          .then((res) => {
            // API 호출 성공했을 시 실행됨
            console.log('goodsList', res);
            this.list = res.data
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
          })
          .catch((err) => {
            this.$toast.error(err.response.data.msg)
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
          })
    },
    async getDetail() {
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
      await this.$store.dispatch(this.$testDataConstants.DO_DELIVERY_DETAIL, {id: this.id})
          .then((res) => {
            this.detailInfo = res.data.data
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
          })
          .catch((err) => {
            this.$toast.error(err.response.data.msg)
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
          })
    },
    moveCreate() {
      this.$router.push(`/goods/add`)
    },
    moveDetail(data) {
      let linkBaseUrl = '/goods/detail/'
      this.$router.push(`${linkBaseUrl}${data.id}`)
    },
    moveEdit(id) {
      let linkBaseUrl = '/goods/edit/'
      this.$router.push(`${linkBaseUrl}${id}`)
    }
  },
  created() {
    this.getList()
  },
  mounted() {
    this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'GOODS_LIST')
  },

}
</script>
