<template>
  <div class="delivery-container">
    <div class="order-state-change">
      <div>
        <template>
          <el-select v-model="form" placeholder="배송 타입 변경">
            <el-option
                v-for="item in status"
                :key="item.value"
                :label="item.label"
                :value="item.status">
            </el-option>
          </el-select>
        </template>
      </div>
      <el-button type="primary" icon="el-icon-edit"></el-button>
    </div>

    <el-table
        :data="list"
        border
        style="width: 100%">
      <el-table-column
          prop="id"
          label="배송 id"
          width="180">

      </el-table-column>
      <el-table-column
          prop="deliveryType"
          label="배송 유형"
          width="180">

      </el-table-column>
      <el-table-column
          prop="deliveryDate"
          label="배송 날짜">

      </el-table-column>
      <el-table-column
          prop="deliveryNumber"
          label="배송 번호">

      </el-table-column>

    </el-table>
    <div class="delivery-list">
      <div>
        <template>

          <el-button type="text" @click="goBack()"> 뒤로 </el-button>

        </template>
        <el-button type="primary" @click="goList()"> 목록 </el-button>

      </div>

    </div>
  </div>


</template>


<script>


import form from "@/pages/customer/form.vue";

export default {
  computed: {
    form() {
      return form
    }
  },
  methods: {
    goList(){
      this.$router.push('/delivery/list')
    },

    goBack(){
      this.$router.push('/delivery/list')
    },

    handleEdit(index, row) {
      console.log(index, row);
    },
  },
  data() {
    return {
      list:[]
        //tableData: [{
       // deliveryId: '',
       // orderId: '',
       // deliveryType: '',
       // deliveryDate: '2024-02-21',
       // deliveryNumber: '10101101'
      //},
      //]
    }
  },
}
</script>
<script setup>

</script>