<template>
    <section class="sq-main-sidebar-info">
        <div class="logo mb-1 pt-1"><img src="../../logo.png" alt="logo" /></div>
        <div class="info">
            {{ name }}님, 환영합니다!
        </div>
    </section>
</template>

<script>
export default {
    data() {
        return {
        }
    },
    computed: {
      // @TODO 로그인 구현 시 사용
        //name() { return this.$store.getters[this.$authenticatedConstants.GET_NAME] },
      name() { return '관리자'; }
    }
}
</script>
