<template>
  <div>
  <el-descriptions class="margin-top" title="고객 상세" :column="4" size="medium" border>
    <template slot="extra">
      <el-button type="warning" size="small" @click="goList">회원목록</el-button>
    </template>
    <template slot="extra">
      <el-button type="primary" size="small">수정</el-button>
    </template>
    <el-descriptions-item>
      <template slot="label">
        아이디
      </template>
      {{detailInfo.userName}}
    </el-descriptions-item>
    <el-descriptions-item>
      <template slot="label">
        고객명
      </template>
      {{detailInfo.memberName}}
    </el-descriptions-item>
    <el-descriptions-item>
      <template slot="label">
        전화번호
      </template>
      {{detailInfo.phoneNumber}}
    </el-descriptions-item>
    <el-descriptions-item>
      <template slot="label">
        우편번호
      </template>
      {{detailInfo.postCode}}
    </el-descriptions-item>
    <br>
    <el-descriptions-item>
      <template slot="label">
        마케팅 동의 여부
      </template>
      {{detailInfo.NYMarketing}}
    </el-descriptions-item>
    <el-descriptions-item>
      <template slot="label">
        주소
      </template>
      {{detailInfo.memberAddress}}
      {{detailInfo.memberDetailedAddress}}
    </el-descriptions-item>
    <br>
    <el-descriptions-item>
      <template slot="label">
        가입일자
      </template>
      {{detailInfo.subscriptDate}}
    </el-descriptions-item>

    <el-descriptions-item>
      <template slot="label">
        회원 유형
      </template>
      {{detailInfo.memberGrade}}
    </el-descriptions-item>
</el-descriptions>
    <br>


  <el-descriptions-item>

    <template slot="label">
      이용 내역
    </template>
  </el-descriptions-item>
    <br>
    <el-table
        :data="detailUse"
        stripe
        style="width: 100%">
      <el-table-column
          prop="orderNumber"
          label="주문번호"
          width="180">
      </el-table-column>
      <el-table-column
          prop="productName"
          label="상품명"
          width="180">
      </el-table-column>
      <el-table-column
          prop="orderDay"
          label="주문일">
      </el-table-column>
      <el-table-column
          prop="rentalStartDay"
          label="대여 시작일">
      </el-table-column>
      <el-table-column
          prop="rentalEndDay"
          label="반납 일자">
      </el-table-column>
      <el-table-column
          prop="delayDay"
          label="연체일">
      </el-table-column>
      <el-table-column
          prop="delayPay"
          label="연체료">
      </el-table-column>
    </el-table>
  </div>



</template>

<script>
export default {
  //middleware:'auth',

  async asyncData({route}) {
    const  { id } =route.params
    return{
      id : id
    }
  },
  data() {
    return {
      id: null,
      // 조회한 데이터
      detailInfo: {
        userName: 'ssjkd',
        memberName: '이건뭐',
        phoneNumber: '010-1234-5678',
        postCode: '13254',
        memberAddress: ' 경기도 시흥시 OO동 OO아파트',
        memberDetailedAddress: 'OOO동 OOO호',
        NYMarketing: '동의',
        subscriptDate: '2024-0101',
        memberGrade: '멤버쉽회원',
      },

      //이용정보 데이터
      detailUse: [{
        orderNumber:'13452',
        productName:'goodsItem.productName',
        orderDay:'2024-01-01',
        rentalStartDay:'2024-01-05',
        rentalEndDay:'-',
        delayDay:'-',
        delayPay:'-',

      }],
    }
  },

      //수정하려는 데이터(기본 멤버 데이터)
  methods: {
        doPutData() {
          this.$toast.success('수정할껴?')
        },
        goList() {
          this.$router.push('/member/list')
        },
        //  회원 api와 연결하기
        async getDetail() {
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
          await this.$store.dispatch(this.$memberConstants.DO_MEMBER_DETAIL, {id: this.id})
              .then((res) => {
                console.log('회원 상세정보',res);
                this.detailInfo =res.data;
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
              })
              .catch((err) => {
                console.log('회원상세 오류',err);
                this.$toast.error('[회원 조회 오류] 시스템 관리자 (강민정 또 너야?)에게 문의하세요 ')
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
              });
        },



      },
  // vue component 생성될 때 실행됨
        created() {
          this.getDetail()
        },
  // vue component 화면에 마운트 될 때 실행됨 ( created 보다 늦게됨 )
        mounted() {
        /// 회원 메뉴  왼쪽에 진하게 표시
          this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_LIST')
        }



  /*tableData: [{
    orderNumber: '1',
    goodsName: 'A 세트',
    orderDay: '2023.11.01',
    rentalStartDay: '2023.11.10',
    rentalEndDay: '-',
    delayDay: '10일',
    delayPay: '100,000원',
  }
   ]*/

}
</script>
