div.error-box {
    width: 300px;
    border: #eeeeee 1px solid;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 20px 0;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 1px 1px #EDEDED;
    box-shadow: 1px 1px 1px 1px #EDEDED;
}
div.error-box div.in-icon i {
    font-size: 84px;
    color: #666666;
}
div.error-box div.in-code {
    font-size: 24px;
    font-weight: 600;
}


div.sq-login-box {
    width: 350px;
    margin: 0 auto;
    padding-top: calc(50vh - 153px);
}
div.sq-login-box div.img-box img {
    width: 100%;
}


span.sq-status-badge {
    background-color: #ac0000;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding: 10px 15px 10px 5px;
    color: #ffffff;
}
span.sq-status-badge span {
    background-color: #ffffff;
    color: #333333;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    padding: 5px 10px;
}


div.sq-ending-thumb-box {
    width: 120px;
    background-color: #303039;
    text-align: center;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
div.sq-ending-thumb-box div.in-thumb {
    padding-top: 10px;
}
div.sq-ending-thumb-box div.in-thumb img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
div.sq-ending-thumb-box div.in-text {
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 5px;
    font-weight: 600;
}

.sq-ballon {
    border: #333333 1px solid;
    width: 320px;
    position: relative;
    background: #333333;
    color: #ffffff;
    border-radius: 5px;
    padding: 12px 12.8px;
    -webkit-box-shadow: 3px 3px 3px 3px #D1D1D1;
    box-shadow: 3px 3px 3px 3px #D1D1D1;
}


.sq-ballon:after {
    border-top: 10px solid #333333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 35px;
    left: 160px;
}

.item {
    font-size: 20px;
    margin: 100px 10px 0px 10px;
    line-height: 60px;
    color:#222222;
    font-style: normal;
}



.dash-board-container > div > h1 {
    font-size: 30px;
    margin: 10px 10px 10px 10px;
    font-family: Sans-serif;
}

.dash-board-container > h2 {
    font-size: 20px;
    margin: 40px 10px 20px 10px;
}

.dash-board-container > .dcloset-statics-today {
    border: 1px solid #a9a9a9;
    background-color: #e5e5e5;
    height: 50px;
    vertical-align: center;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding-top: 10px;
}

.dash-board-container > .dcloset-statics-month {
    border: 1px solid #a9a9a9;
    background-color: #e5e5e5;
    height: 50px;
    vertical-align: center;
    width: auto;
    margin: 10px 10px 10px 10px;
    padding-top: 10px;
}

.dash-board-container > div {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.order-list > .page-button {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.dash-board-graph > div {
    width: 500px;
    text-align: center;
}

.dash-board-graph {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.order-search {
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.order-search > div {
    width: 200px;
    margin: 0 10px 0 10px;
}

.order-state-change {
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.order-state-change > div {
    margin: 0px 10px 0px 10px;
    width: 200px;
}