<script lang="ts" setup>
import {reactive} from 'vue'

// do not use same name with ref
const form = reactive({
  name: '',
  region: '',
  date1: '',
  date2: '',
  delivery: false,
  type: [],
  resource: '',
  desc: '',
})

const onSubmit = () => {
  console.log('submit!')}
</script>/for

<template>

    <div style="padding: 80px 0;">


      <el-col :span="18">
        <el-form :model="form" label-width="200px">
          <el-form-item>
            <el-input placeholder="제목을 입력해주세요" v-model="form.name">
              <template slot="prepend">제목</template>
            </el-input>
          </el-form-item>
          <el-form-item>
            <el-input  placeholder="" v-model="form.name">
              <template slot="prepend">작성자</template>
            </el-input>
          </el-form-item>
          <el-form-item>
            <el-input placeholder="문의내용" v-model="form.desc" type="textarea" rows="10">
              <template slot="prepend">문의</template>
            </el-input>
          </el-form-item>

          <el-form-item>
            <el-input placeholder="내용을 입력해주세요" v-model="form.desc" type="textarea" rows="10">1
              <template slot="prepend">내용</template>
            </el-input>
          </el-form-item>

          <el-form-item style="text-align: center">
            <el-button type="info" @click="onSubmit">답변하기</el-button>
            <el-button>취소</el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </div>



</template>

<style scoped>
.el-form-item { margin-bottom:10px !important;}

</style>
