<template>
  <div class="order-list">
    <el-alert
        title="처리해야 할 주문이 있습니다."
        type="warning"
        center
        show-icon>
    </el-alert>
    <el-progress :text-inside="true" :stroke-width="22" :percentage="80" status="warning"></el-progress>
    <div class="order-state-change">
      <div>
        <template>
          <el-select v-model="value" placeholder="처리 상태 변경">
            <el-option
                v-for="item in status"
                :key="item.value"
                :label="item.label"
                :value="item.status">
            </el-option>
          </el-select>
        </template>
      </div>
      <el-button type="primary" icon="el-icon-edit"></el-button>
    </div>
    <el-table
        ref="multipleTable"
            prop="id">
        :data="tableData"
        style="width: 100%"
        @selection-change="handleSelectionChange">
      <el-table-column
          type="selection"
          width="55">
      </el-table-column>
      <el-table-column
          label="주문일자"
          width="120">
        <template slot-scope="scope">{{ scope.row.date }}</template>
      </el-table-column>
      <el-table-column
          property="orderStatus"
          label="처리상태"
          width="120">
      </el-table-column>
      <el-table-column
          property="orderNumber"
          label="주문번호"
          show-overflow-tooltip>
      </el-table-column>
      <el-table-column
          property="receiveDate"
          label="희망수령일자"
          show-overflow-tooltip>
      </el-table-column>
      <el-table-column
          property="returnDate"
          label="반납일자"
          show-overflow-tooltip>
      </el-table-column>
      <el-table-column
          property="goodsName"
          label="상품명"
          show-overflow-tooltip>
      </el-table-column>
      <el-table-column
          property="goodsCode"
          label="상품코드"
          show-overflow-tooltip>
      </el-table-column>
      <el-table-column
          property="customerName"
          label="고객명"
          show-overflow-tooltip>
      </el-table-column>
      <el-table-column
          property="orderType"
          label="주문유형"
          show-overflow-tooltip>
      </el-table-column>
    </el-table>
    <div class="order-search">
      <div class="order-search-type">
        <template>
          <el-select v-model="value" placeholder="검색 유형을 선택해주세요.">
            <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
            </el-option>
          </el-select>
        </template>
      </div>
      <div class="order-search-box">
        <el-autocomplete
            v-model="state"
            :fetch-suggestions="querySearchAsync"
            placeholder="검색어를 입력해주세요."
            @select="handleSelect"
        ></el-autocomplete>
      </div>
      <el-button type="primary" icon="el-icon-search">검색</el-button>
      </div>
      <div class="page-button">
        <el-pagination
            background
            layout="prev, pager, next"
            :total="1000">
        </el-pagination>
      </div>
  </div>

</template>

<script>
import {state} from "@/store";

export default {
  data() {
    return {
      tableData: [{
        date: '2023-12-01',
        orderStatus: '주문요청',
        orderNumber: '20231201-1348590008',
        receiveDate: '2023-12-10',
        returnDate: '-',
        goodsName: 'A세트',
        goodsCode: '134859',
        customerName: '강하나',
        orderType: '멤버십 주문',
      }, {
        date: '2023-12-01',
        orderStatus: '주문요청',
        orderNumber: '20231201-1348590008',
        receiveDate: '2023-12-10',
        returnDate: '-',
        goodsName: 'A세트',
        goodsCode: '134859',
        customerName: '강하나',
        orderType: '멤버십 주문',
      }, {
        date: '2023-12-01',
        orderStatus: '주문요청',
        orderNumber: '20231201-1348590008',
        receiveDate: '2023-12-10',
        returnDate: '-',
        goodsName: 'A세트',
        goodsCode: '134859',
        customerName: '강하나',
        orderType: '멤버십 주문',
      }, {
        date: '2023-12-01',
        orderStatus: '주문요청',
        orderNumber: '20231201-1348590008',
        receiveDate: '2023-12-10',
        returnDate: '-',
        goodsName: 'A세트',
        goodsCode: '134859',
        customerName: '강하나',
        orderType: '멤버십 주문',
      }, {
        date: '2023-12-01',
        orderStatus: '주문요청',
        orderNumber: '20231201-1348590008',
        receiveDate: '2023-12-10',
        returnDate: '-',
        goodsName: 'A세트',
        goodsCode: '134859',
        customerName: '강하나',
        orderType: '멤버십 주문',
      }, {
        date: '2023-12-01',
        orderStatus: '주문요청',
        orderNumber: '20231201-1348590008',
        receiveDate: '2023-12-10',
        returnDate: '-',
        goodsName: 'A세트',
        goodsCode: '134859',
        customerName: '강하나',
        orderType: '멤버십 주문',
      }, {
        date: '2023-12-01',
        orderStatus: '주문요청',
        orderNumber: '20231201-1348590008',
        receiveDate: '2023-12-10',
        returnDate: '-',
        goodsName: 'A세트',
        goodsCode: '134859',
        customerName: '강하나',
        orderType: '멤버십 주문',
      }],
      multipleSelection: [],
      status: [{
        status: 'Status1',
        label: '주문 접수',
      },{
        status: 'Status2',
        label: '상품 준비 중',
      },
        {
          status: 'Status1',
          label: '배송 중',
        },
        {
          status: 'Status1',
          label: '대여 중',
        },
        {
          status: 'Status1',
          label: '처리 완료',
        },

      ],
      options: [{
        value: 'Option1',
        label: '이름'
      }, {
        value: 'Option2',
        label: '처리 상태'
      }, {
        value: 'Option3',
        label: '주문번호'
      }],
      value: ''

    }
  },

  methods: {
    state,
    toggleSelection(rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row);
        });
      } else {
        this.$refs.multipleTable.clearSelection();
      }
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    }
  }
}
</script>
