<template>
    <div>
        {{ testValue }}
        <button @click="changeMessage()">바꾸기</button>
    </div>
</template>

<script>
export default {
    data() {
        return {
            testValue: '안녕하세요'
        }
    },
    methods: {
        changeMessage() {
            this.testValue = '반가워요'
        }
    }
}
</script>
