<template>
  <div class="customer-list">
    <div>
      <el-row :gutter="5">
        <el-col :span="15">
          <el-input
              v-model="keyword"
              size="mini"
              placeholder="이름을 입력하세요."/>
        </el-col>
      </el-row>
    </div>
    <div class = "customer-list-content">
      <!--받아온 멤버정보리스트가 키워드와 일치하지않다 또는 , 멤버이름(소문자가능하게). 비교해줘서 검색한것이 참인것만 나타내준다.-->
      <el-table
          :data="list.filter(data => !keyword || data.memberName.toLowerCase().includes(keyword.toLowerCase()))"

          @row-click="moveDetail"
          style="width: 100%">
        <el-table-column
            label="아이디"
            prop="id">
        </el-table-column>
        <el-table-column
            label="이름"
            prop="memberName">
        </el-table-column>
        <el-table-column
            label="회원 유형"
            prop="memberGrade">
        </el-table-column>
        <el-table-column
            label="가입 날짜"
            prop="subscriptDate">
        </el-table-column>
        <el-table-column
            label="마케팅 동의 여부"
            prop="nyMarketing">
        </el-table-column>
        <el-table-column
            label="잔여 대여 횟수"
            prop="borrow">
        </el-table-column>
        <el-table-column
            label="연체 일수"
            prop="delay">
        </el-table-column>

<!--          <template slot-scope="scope">
            <el-button
                size="mini"
                @click="handleEdit(scope.$index, scope.row)">자세히 보기</el-button>
          </template>-->

      </el-table>
    </div>
  </div>
</template>
<script>

export default {
  data() {
    return {
      list : [],
      keyword : ''
    }
  },
  //@TODO 로그인 구현 완료 후 주석 해제
  //middleware: 'auth',



  methods: {
    getList() {
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW,  true)
      this.$store.dispatch(this.$memberConstants.DO_MEMBER_LIST)
          .then((res) => {
            console.log('memberList',res);
            this.list = res.data
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
          })
          .catch((err) => {
            this.$toast.error(err.response.data.msg)
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
          })
    },
    search() {

    },

    moveDetail(data) {
      let linkBaseUrl = '/member/detail/'
      this.$router.push(`${linkBaseUrl}${data.id}`)
    },

    handleEdit(index, row) {
      console.log(index, row);
    },

  },
  created() {
    this.getList()
  },
  mounted() {
    this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_LIST')
  },


}
</script>
