<template>
  <el-table
      :data="tableData"
      border
      style="width: 100%">
    <el-table-column
        prop="id"
        label="id"
        width="180">
    </el-table-column>
    <el-table-column
        prop="memberGroup"
        label="회원권한"
        width="180">
    </el-table-column>
    <el-table-column
        prop="magazineDate"
        label="날짜">
   </el-table-column>
    <el-table-column
        prop="magazineImage"
        label="이미지">
    </el-table-column>
    <el-table-column
        prop="magazineText"
        label="내용">
    </el-table-column>
  </el-table>
</template>

<script>
export default {
  data() {
    return {
      tableData: [{
        id: '1',
        memberGroup: '관리자',
        magazineDate: '2024-02-26',
        magazineImage:'이미지',
        magazineText:'매거진'
      },
      ]
    }
  }
}
</script>